@import url("https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .li-nav {
        @apply border-t-[1px] border-top-navbar text-left pl-4 lg:pl-0 lg:border-0 lg:text-center lg:items-center lg:flex;
    }

    .li-link-nav {
        @apply block my-1.5 text-xl text-left lg:text-center lg:text-base lg:font-bold;
    }

    .child-nav {
        @apply border-t-[1px] border-dark text-left lg:pl-0 lg:border-0 lg:text-center lg:items-center lg:flex lg:border-b-[1px] lg:border-dark lg:bg-subnavbar-dark lg:text-subnavbar-text lg:relative lg:z-30 hover:lg:text-subnavbar-white;
    }

    .child-child-ul {
        @apply bg-light text-dark lg:invisible lg:absolute lg:left-full lg:w-full lg:top-0 lg:opacity-0 transition-all duration-300 group-hover:lg:opacity-100 group-hover:lg:visible group-hover:lg:block lg:bg-subnavbar-dark lg:text-subnavbar-text;
    }

    .child-child-li {
        @apply border-t-[1px] border-dark text-left pl-4 lg:pl-0 lg:border-0 lg:border-b-[1px] lg:text-center lg:items-center lg:flex hover:lg:text-subnavbar-white;
    }

    .child-child-li-link {
        @apply px-4 py-2 block text-left lg:text-left lg:text-base lg:font-semibold w-full;
    }

    .child-child-link {
        @apply px-4 block py-2 text-sm text-left lg:text-left lg:text-base lg:font-semibold;
    }

    .programs:hover .programs-child {
        @apply lg:visible lg:opacity-100;
    }

    /* Container */
    .main-container {
        @apply px-4 lg:px-20 xl:px-40;
    }

    .absolute-center {
        @apply absolute left-[50%] -translate-x-[50%];
    }
}

/* Utilities */

@layer utilities {
    .heading-1 {
        @apply font-semibold font-primary uppercase text-3xl lg:text-5xl text-white;
    }

    .heading-2 {
        @apply font-semibold font-primary capitalize text-4xl text-white tracking-widest;
    }

    .my-btn {
        @apply bg-yellow text-light rounded-[3px] py-1.5 px-5 font-medium font-primary capitalize;
    }

    .program-card {
        transform-style: preserve-3d;
        @apply transition-all duration-700 relative h-[400px];
    }

    .rotate-program-card {
        transform: rotateY(0.5turn);
    }

    .program-face-card {
        backface-visibility: hidden;
        @apply absolute top-0 left-0 transition-all duration-700 w-full h-full overflow-hidden rounded-xl;
    }

    .face_back {
        transform: rotateY(0.5turn);
    }

    .student__acceptance__card {
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .student__acceptance__card .front,
    .student__acceptance__card .back {
        transition: transform 0.6s;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .student__acceptance__card .front {
        position: absolute;
        top: 0;
        left: 0;
    }

    .student__acceptance__card .back {
        transform: rotateX(-180deg);
        position: absolute;
        top: 0;
        left: 0;
    }
    .student__acceptance__card:hover .front {
        transform: rotateX(-180deg);
    }
    .student__acceptance__card:hover .back {
        transform: rotateX(-360deg);
    }

    .student__acceptance__btn {
        @apply px-4 py-1.5 font-body text-sm text-white rounded-sm bg-[#2c70f7] border-[1px] border-[#2c70f7] cursor-pointer;
    }

    .student__acceptance__btn--active {
        @apply text-yellow bg-white;
    }

    .student__acceptance__btn:hover {
        @apply bg-yellow border-yellow;
    }

    .student__acceptance__btn--active:hover {
        @apply bg-white border-[#2c70f7];
    }

    /* Scrollbar Blog Category */
    .horizontal_list::-webkit-scrollbar {
        height: 4px;
        background-color: #f5f5f5;
    }

    .horizontal_list::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

    .horizontal_list::-webkit-scrollbar-thumb:active {
        background-color: #888;
    }

    /* Pagination Blog */
    .Pagination:last-child {
        background-color: #ff0000;
    }

    .pagination .page-item .page-link:hover {
        background-color: #ffa500;
        color: #ffffff;
    }

    /* Blog Style */

    .blog_style h1,
    h2,
    h3 {
        @apply font-inter font-extrabold text-primary;
    }

    .blog_style h1 {
        @apply text-xl  md:text-2xl;
    }

    .blog_style h2 {
        @apply text-lg  md:text-xl;
    }

    .blog_style h3 {
        @apply text-base  md:text-lg;
    }

    .blog_style p {
        @apply font-inter font-medium text-sm text-primary md:text-base;
    }

    .blog_style ul {
        @apply font-inter font-medium text-sm text-primary list-disc list-inside md:text-base;
    }

    .blog_style ol {
        @apply font-inter font-medium text-sm text-primary list-decimal list-inside md:text-base;
    }

    .blog_style a {
        @apply hover:text-primary/80 underline decoration-primary decoration-2;
    }

    .mentor_card {
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .mentor_card .front,
    .mentor_card .back {
        transition: transform 0.6s;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .mentor_card .back {
        position: absolute;
        top: 0;
        left: 0;
    }

    .mentor_card .back {
        transform: rotateY(-180deg);
        position: absolute;
        top: 0;
        left: 0;
    }

    .mentor_card:hover .front {
        transform: rotateY(-180deg);
    }
    .mentor_card:hover .back {
        transform: rotateY(-360deg);
    }
}
