/**** Attributes Style Form Embed ****/
@import url("https://assets.mlcdn.com/fonts.css?version=1687251");

/* Font */
@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('/public/font/SF-Pro-Display-Regular.otf');
}
@font-face {
    font-family: 'SF Pro Display Heavy';
    src: url('/public/font/SF-Pro-Display-Heavy.otf');
}

:root {
    scroll-behavior: smooth;
    /* Add Color */
    --white: #FFFFFF;
    --black: #000000;
    --blue: #27387A;
    --orange: #E78724;
    --light-orange: #e2913f;
}

* {
    font-family: 'SF Pro Display Regular';
}
* a {
    text-decoration: none;
}
.navbar a {
    color: var(--blue);
}
.main {
    max-height: 100vh;
    /* min-height: 100vh; */
    max-width: 1920px;
}
.section-1 {
    background-image: url('/public/assets/img/regular_talk/bg-img-color.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 56px;
}
.section-1 .sticker {
    top: -80px;
    right: -40px;
    width: 200px;
}
.section-1 h3 {
    color: var(--blue);
    font-family: 'SF Pro Display Heavy';
    font-size: 62px;
    line-height: 1.1;
}
.section-1 h5 {
    color: var(--blue);
    font-size: 20px;
    font-weight: 600;
}
.section-1 .icon {
    background-color: var(--orange);
    color: var(--white);
    padding: 12px;
    font-size: 22px;
    border-radius: 50%;
}
.section-1 .speaker {
    margin-left: -8px;
}
.section-2 {
    background: var(--blue);
    color: var(--white);
}
.section-2 h3 {
    color: var(--white);
    font-family: 'SF Pro Display Heavy';
    font-size: 24px;
}

.key-benefit {
    color: var(--blue);
}

.key-benefit p {
    line-height: 1.25;
    margin-bottom: 15px;
}

.key-benefit ul {
    list-style: circle;
    list-style-type: circle;
    line-height: 1.25;
    margin-bottom: 15px;
}

.key-benefit ul li {
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .navbar img {
        width: 70px;
    }
    .navbar a {
        font-size: 12px;
    }
    .section-1 {
        padding: 0 24px;
    }
    .section-1 .sticker {
        top: -8px;
        right: -8px;
        width: 85px;
    }
    .section-1 h3 {
        font-size: 26px;
    }
    .section-1 h5 {
        font-size: 14px;
    }
    .section-1 .icon {
        padding: 8px;
        font-size: 16px;
        border-radius: 50%;
    }
    .section-2 h3 {
        font-size: 24px;
    }

    /**** Attributes Style Form Embed ****/
    #mlb2-5812118.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent .title-1 span {
        font-size: 24px !important;
    }
    #mlb2-5812118.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent .title-2 span {
        font-size: 18px !important;
    }
    #mlb2-5812118.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input.form-control {
        font-size: 12px !important;
    }
    #mlb2-5812118.ml-form-embedContainer .ml-form-embedWrapper .ml-block-form .ml-field-group label {
        font-size: 15px !important;
    }
    #mlb2-5812118.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button.primary {
        font-size: 15px !important;
    }
}
